body {
    background-color:   #F5F5F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: #E9E9E9;
    margin: auto;

    width: 600px;

    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.5);

    border-radius: 5px;
    overflow: hidden;
}

.header{
    padding: 40px;
}

.flex-container{
    display: flex;
    justify-content: space-around;
}

.header-title{
    color: #006666;
    font-size: 2rem;
    font-weight: 700;
}

.header-line-2{
    color: #008991;
    padding-top: 20px;
    font-weight: 640;
    font-size: 1.21rem;
}

.header-line-3{
    padding-top: 15px;
}

.col-1{
    background-color: #006A6A;
    color: #Fff;
    width: 50%;
    padding: 20px;
}

.col-2{
    color: #Fff;
    background-color: #008991;
    width: 50%;
    padding: 10px 20px;
}

.block-2-title{
    font-size: 1,25rem;
    text-align: center;
    margin-bottom: 20px;
}

.price{
    font-size: 26px;
    font-weight: 700;
}

.month{
    font-size: 0,9rem;
    font-style: italic;
    margin-left: 15px;
} 

.button{
    width: 100%;
    padding: 15px 32px;

    color: #006A6A;
    font-size: 1rem;
    margin-top: 20px;

    border-radius: 4px;
    border: none;

    background-color: #CCCCCC;

    cursor: pointer;
}

.button:hover{
    background-color: #E9E9E9;
}

.imgs{
    text-align: center;
}

@media screen and (max-width: 620px){
    html {
        font-size: 14px;
    }
    .flex-container{
        flex-direction: column;
    }

    .col-1, .col-2{
        width: 100%;
        box-sizing: border-box;
    }

    .container{
        width: 95%;
    }
}
